In [22]:
import pandas as pd
import numpy as np
import openpyxl
print(f"{pd.__version__}")

1.5.3

In [8]:
np.random.seed(1)
n = 100
dates = pd.date_range(start='2045-01-01', periods=n, freq='D')
products = ['Tablet', 'Camera', 'Phone']
prices = np.round(np.random.uniform(50, 200, n), 2)
quantiles = np.random.randint(1, 15, n)

data = {
    'Date': dates,
    'Product': np.random.choice(products, n),
    'Price': prices,
    'Quantity': quantiles
}

df = pd.DataFrame(data)

In [9]:
df.head()

        Date Product   Price  Quantity
0 2045-01-01   Phone  112.55         5
1 2045-01-02  Camera  158.05         7
2 2045-01-03   Phone   50.02         1
3 2045-01-04  Tablet   95.35         7
4 2045-01-05   Phone   72.01         6

In [10]:
df.dtypes

Date        datetime64[ns]
Product             object
Price              float64
Quantity             int32
dtype: object

In [12]:
df.to_csv('random_sales.csv', index=False)

In [21]:
file_path = 'random_sales.csv'
df = pd.read_csv(file_path, parse_dates=['Date'], date_parser=lambda x: pd.to_datetime(x, format='%Y-%m-%d'))
df.head()

        Date Product   Price  Quantity
0 2045-01-01   Phone  112.55         5
1 2045-01-02  Camera  158.05         7
2 2045-01-03   Phone   50.02         1
3 2045-01-04  Tablet   95.35         7
4 2045-01-05   Phone   72.01         6

In [19]:
df.dtypes

Date        datetime64[ns]
Product             object
Price              float64
Quantity             int64
dtype: object

In [23]:
df.to_excel('sales_data.xlsx')

In [24]:
df.to_json('sales_data.json')